* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida';
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}


/* menu */

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 96, 124);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida';
    z-index: 5000;
}

.brand-title {
    font-size: 3.5rem;
    margin: .5rem;
    padding: .5rem;
    font-weight: 600;
}

.seo {
    color: #d9dcd6;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: rgb(86, 138, 164);
}

.toggle-button {
    position: absolute;
    top: 2.25rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    vertical-align: middle;    
}


/* main image */

.mainkart {
    width: 100%;
    z-index: 2000;
    margin-top: -150px;
}


/* categories */

.grid {
    padding-left: 5px;
    padding-right: 5px;
}

.flex_item {
    display: block;
    border-top: 25px solid #fff;
    border-left:25px solid #fff;
    color: white;
    height: 300px;
}

.flex_item_img {
    background-position: 20px 20px;
    margin: 35px;
}

.content {
    width: 79%;
    background: #0072bb;
    float: left;
}

.sidebar {
    border: 25px solid #fff;
    width: 20%;
    background: #0072bb;
    height: fit-content;
    float: right;
    padding: 5px;
    text-align: center;
}

.sidebar.fixed {

position: fixed;
right: 50%;
margin-right: -50%;
}


.icon {
    display: block;
    margin: auto;
    padding: auto;
    width: 50%;
    align-items: center;
}

.flex_item_icon {
    border: 15px solid #0072bb;
    padding: 15px 20px 15px 20px;
    color: white;
    
}

.h2text {
    padding: 10px 30px 10px 40px;
}



@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}